# Simple Linear Regression

In [1]:
!pip install numpy==2.2.0
!pip install pandas==2.2.3
!pip install scikit-learn==1.6.0
!pip install matplotlib==3.9.3

Collecting numpy==2.2.0
  Downloading numpy-2.2.0-cp312-cp312-macosx_14_0_arm64.whl.metadata (62 kB)
Downloading numpy-2.2.0-cp312-cp312-macosx_14_0_arm64.whl (5.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 9.2 MB/s eta 0:00:00a 0:00:01m
Installing collected packages: numpy
Successfully installed numpy-2.2.0
Collecting pandas==2.2.3
  Using cached pandas-2.2.3-cp312-cp312-macosx_11_0_arm64.whl.metadata (89 kB)
Requirement already satisfied: numpy>=1.26.0 in /Users/Python Project/PythonAllProject/AI_and_Machine_learning/AI_and_Machine_learning/.venv/lib/python3.12/site-packages (from pandas==2.2.3) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/Python Project/PythonAllProject/AI_and_Machine_learning/AI_and_Machine_learning/.venv/lib/python3.12/site-packages (from pandas==2.2.3) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas==2.2.3)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas==2.2.3)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/Python Project/PythonAllProject/AI_and_Machine_learning/AI_and_Machine_learning/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas==2.2.3) (1.17.0)
Using cached pandas-2.2.3-cp312-cp312-macosx_11_0_arm64.whl (11.4 MB)
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 [pandas]2m2/3 [pandas]
Successfully installed pandas-2.2.3 pytz-2025.2 tzdata-2025.2
Collecting scikit-learn==1.6.0
  Downloading scikit_learn-1.6.0-cp312-cp312-macosx_12_0_arm64.whl.metadata (31 kB)
Requirement already satisfied: numpy>=1.19.5 in /Users/Python Project/PythonAllProject/AI_and_Machine_learning/AI_and_Machine_learning/.venv/lib/python3.12/site-packages (from scikit-learn==1.6.0) (2.2.0)
Collecting scipy>=1.6.0 (from scikit-learn==1.6.0)
  Downloading scipy-1.15.3-cp312-cp312-macosx_14_0_arm64.whl.metadata (61 kB)
Collecting joblib>=1.2.0 (from scikit-learn==1.6.0)
  Downloading joblib-1.5.0-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn==1.6.0)
  Using cached threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.0-cp312-cp312-macosx_12_0_arm64.whl (11.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.2/11.2 MB 2.5 MB/s eta 0:00:0000:0100:01
Downloading joblib-1.5.0-py3-none-any.whl (307 kB)
Downloading scipy-1.15.3-cp312-cp312-macosx_14_0_arm64.whl (22.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 22.4/22.4 MB 3.9 MB/s eta 0:00:0000:0100:01
Using cached threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [scikit-learn][0m [scikit-learn]
Successfully installed joblib-1.5.0 scikit-learn-1.6.0 scipy-1.15.3 threadpoolctl-3.6.0
Collecting matplotlib==3.9.3
  Downloading matplotlib-3.9.3-cp312-cp312-macosx_11_0_arm64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib==3.9.3)
  Downloading contourpy-1.3.2-cp312-cp312-macosx_11_0_arm64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib==3.9.3)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib==3.9.3)
  Downloading fonttools-4.58.0-cp312-cp312-macosx_10_13_universal2.whl.metadata (104 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib==3.9.3)
  Using cached kiwisolver-1.4.8-cp312-cp312-macosx_11_0_arm64.whl.metadata (6.2 kB)
Requirement already satisfied: numpy>=1.23 in /Users/Python Project/PythonAllProject/AI_and_Machine_learning/AI_and_Machine_learning/.venv/lib/python3.12/site-packages (from matplotlib==3.9.3) (2.2.0)
Requirement already satisfied: packaging>=20.0 in /Users/Python Project/PythonAllProject/AI_and_Machine_learning/AI_and_Machine_learning/.venv/lib/python3.12/site-packages (from matplotlib==3.9.3) (25.0)
Collecting pillow>=8 (from matplotlib==3.9.3)
  Downloading pillow-11.2.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (8.9 kB)
Collecting pyparsing>=2.3.1 (from matplotlib==3.9.3)
  Downloading pyparsing-3.2.3-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /Users/Python Project/PythonAllProject/AI_and_Machine_learning/AI_and_Machine_learning/.venv/lib/python3.12/site-packages (from matplotlib==3.9.3) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/Python Project/PythonAllProject/AI_and_Machine_learning/AI_and_Machine_learning/.venv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib==3.9.3) (1.17.0)
Downloading matplotlib-3.9.3-cp312-cp312-macosx_11_0_arm64.whl (7.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 5.1 MB/s eta 0:00:00a 0:00:01m
Downloading contourpy-1.3.2-cp312-cp312-macosx_11_0_arm64.whl (255 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.58.0-cp312-cp312-macosx_10_13_universal2.whl (2.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.7/2.7 MB 2.4 MB/s eta 0:00:00a 0:00:01m
Using cached kiwisolver-1.4.8-cp312-cp312-macosx_11_0_arm64.whl (65 kB)
Downloading pillow-11.2.1-cp312-cp312-macosx_11_0_arm64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 2.3 MB/s eta 0:00:00a 0:00:01m
Downloading pyparsing-3.2.3-py3-none-any.whl (111 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7/7 [matplotlib]7 [matplotlib]
Successfully installed contourpy-1.3.2 cycler-0.12.1 fonttools-4.58.0 kiwisolver-1.4.8 matplotlib-3.9.3 pillow-11.2.1 pyparsing-3.2.3

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [6]:
url= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%202/data/FuelConsumptionCo2.csv"

In [8]:
df = pd.read_csv(url)
# df.head()
df.sample(5)

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
757,2014,MERCEDES-BENZ,GL 450 4MATIC,SUV - STANDARD,4.7,8,AS7,Z,17.1,12.8,15.2,19,350
991,2014,TOYOTA,RAV4 AWD,SUV - SMALL,2.5,4,AS6,X,10.4,8.1,9.4,30,216
718,2014,MAZDA,MX-5,TWO-SEATER,2.0,4,AS6,Z,11.5,8.5,10.2,28,235
984,2014,TOYOTA,HIGHLANDER AWD,SUV - STANDARD,3.5,6,AS6,X,13.0,9.7,11.5,25,264
917,2014,RAM,1500 FFV,PICKUP TRUCK - STANDARD,3.6,6,A8,X,13.9,9.5,11.9,24,274

In [10]:
# Understand the data
# FuelConsumption.csv:
# You will use a fuel consumption dataset, FuelConsumption.csv, which contains model-specific fuel consumption ratings and estimated carbon dioxide emissions for new light-duty vehicles for retail sale in Canada. Dataset source.
# 
# MODEL YEAR e.g. 2014
# MAKE e.g. VOLVO
# MODEL e.g. S60 AWD
# VEHICLE CLASS e.g. COMPACT
# ENGINE SIZE e.g. 3.0
# CYLINDERS e.g 6
# TRANSMISSION e.g. AS6
# FUEL TYPE e.g. Z
# FUEL CONSUMPTION in CITY(L/100 km) e.g. 13.2
# FUEL CONSUMPTION in HWY (L/100 km) e.g. 9.5
# FUEL CONSUMPTION COMBINED (L/100 km) e.g. 11.5
# FUEL CONSUMPTION COMBINED MPG (MPG) e.g. 25
# CO2 EMISSIONS (g/km) e.g. 182
# Your task will be to create a simple linear regression model from one of these features to predict CO2 emissions of unobserved cars based on that feature.

# Explore the data

In [11]:
df.describe()

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
count,1067.0,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000
mean,2014.0,3.346298,5.794752,13.296532,9.474602,11.580881,26.441425,256.228679
std,0.0,1.415895,1.797447,4.101253,2.794510,3.485595,7.468702,63.372304
min,2014.0,1.000000,3.000000,4.600000,4.900000,4.700000,11.000000,108.000000
25%,2014.0,2.000000,4.000000,10.250000,7.500000,9.000000,21.000000,207.000000
50%,2014.0,3.400000,6.000000,12.600000,8.800000,10.900000,26.000000,251.000000
75%,2014.0,4.300000,8.000000,15.550000,10.850000,13.350000,31.000000,294.000000
max,2014.0,8.400000,12.000000,30.200000,20.500000,25.800000,60.000000,488.000000

In [12]:
# You can see from the statistics here that 75% of the cars have a combined fuel consumption falling within a range of up to almost three times that of the most efficient car, with respective values of 31 MPG and 11 MPG.
# 
# The highest fuel consumer at 60 MPG is suspiciously high but could be legitimate.
# 
# MODELYEAR has 0 standard deviation, and thus has no interesting information content.

# Feature Selection
* Select a few features that might be indicative of CO2 emission to explore more

In [13]:
# Create new Feature using below column
cdf = df[['ENGINESIZE', 'CYLINDERS', 'FUELCONSUMPTION_COMB', 'CO2EMISSIONS']]
cdf.sample(9)

      ENGINESIZE  CYLINDERS  FUELCONSUMPTION_COMB  CO2EMISSIONS
764          3.0          6                  10.3           278
416          3.7          6                  10.2           235
1027         2.0          4                   9.8           225
634          5.2         10                  15.7           361
797          1.6          4                   8.5           196
860          5.6          8                  17.3           398
136          2.0          4                   8.7           200
398          3.5          6                  12.1           278
606          1.6          4                   9.8           225